body {
background-color: #E5E5E5;
color: #212121;
}
.nav-list-link:hover, .nav-list-link:focus {
    
    color: #2196F3;

}
/* для удаления маркера списка */
li {
    list-style-type: none;
}
/* для удаления подчеркивания ссылок */
a { 
    text-decoration: none; 
   } 
