body {
background-color: #E5E5E5;
color: #212121;
}
.nav-list-link:hover, .nav-list-link:focus {
    
    color: #2196F3;

}
.nav-list-link visit {}
/* для удаления маркера списка */
li {
    list-style-type: none;
}
/* для удаления подчеркивания ссылок */
a { 
    text-decoration: none; 
    color: #212121;
    ;
   } 
   .address-link{
   color: #757575;
}
.address-link:hover,
.address-link:focus {
    color: #2196F3;
} 
.footer-address-link {
    color: rgba(255, 255, 255, 0,6);
}
.footer-address-link:hover,
.footer-address-link:focus {
    color: #2196F3;
}
/* web */
.logo-link {
    color: #2196F3;;
}