/* переменные */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --focus-button-color: #2196f3;
  --button-text-color: #ffffff;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.list-link:hover,
.list-link:focus {
  color: var(--focus-button-color);
}

/* курсор */

cursor {
  pointer-events: ;
}

/* для удаления маркера списка */
li {
  list-style-type: none;
}

/* для удаления подчеркивания ссылок */
a {
  text-decoration: none;
  color: var(--primary-text-color);
}

h3 {
  color: var(--primary-text-color);
  font-weight: 400;
}

p {
  color: var(--secondary-text-color);
}

.address-link {
  color: var(--secondary-text-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--primary-button-color);
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--focus-button-color);
}

/* лого */
.logo-link {
  color: var(--focus-button-color);
}
.logo,
.footer-logo-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

/* кнопки навигации */

.list-link-index:visited {
  color: var(--focus-button-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list-link-portfolio:visited {
  color: var(--focus-button-color);
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list-link {
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list-link {
  font-weight: 500;
}

.address-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* преимущества компании */

.hidden-aside {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aside-title {
  font-size: 14px;
  line-height: 1.14;
}
.aside-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Чем мы занимаемся */
.main-content-caption {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
}
/* наша команда */
.main-content-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
.main-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.hero-title {
  color: var(--button-text-color);
}

.hero-button {
  background-color: rgba(33, 150, 243, 1);
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--button-text-color);
  background-color: #188ce8;
  cursor: pointer;
}

.main-content-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-active {
  background-color: var(--focus-button-color);
  color: var(--button-text-color);
  font-size: 16px;
  cursor: pointer;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}
/* .galery-link:hover, .galery-link:focus {
    background-color: var(--focus-button-color);
color: var(--button-text-color);
}
 */

.logo-link-white {
  color: var(--button-text-color);
}

/* портфолио */

.list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.gallery-caption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallety-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
